.root {

  display: flex;
  justify-content: center;

  padding: 15px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);

  input {
    border: 0;
  }

  .search {
    margin-right: 10px;
  }

  .search,
  .button {
    cursor: pointer;
  }
}